extends layout

block content
  if (user === undefined)
    h1 Welcome!
    p To begin experiencing all the benefits of membership first sign-up then sign-in.
      div.messages-display
        each item in messages
          div.messages
            p= item.message
            div.details  
              p MEMBER: anonymous
  else if (user.member === true)
    h1= `Welcome ${username}!`
    p Now you can post your own messages as well as see who posted what messages and when. If you are interested in becoming an Admin 
      a(href="/users/admin") apply here
    form(method="POST")
      div.message-form
        label(for='title') Title: 
        input(class="title" type="text" name="title")
        label(for='message') Message:
        textarea(class="textarea" name='message' rows="5" cols="10")
      button(type="submit") Post Message
    div.messages-display
      each item in messages
        div.messages
          div.message-body
            p= item.message
            if (admin)
              form(method="POST" action=`/delete/${item._id}`)
                input(type="hidden" class="hiddenid" value=item._id)
                button(type="submit") DELETE
          div.details
            p(class="author")= `MEMBER: ${item.user.username}`
            p(class="timestamp")= item.cleanDate
  else
    h1= `Welcome ${username}!`
    p Now you can post your own messages, but if you really want to experience the perks of a full membership 
      a(href="/users/membership") apply now!
    form(method="POST")
      div.message-form
        label(for='title') Title: 
        input(class="" type="text" name="title")
        label(for='message') Message:
        textarea(class="textarea" name='message' rows="5" cols="10")
      button(type="submit") Post Message
    div.messages-display
      each item in messages
        div.messages
          p= item.message
          if (user._id.toString() === item.user._id.toString())
            div.details
              p= `MEMBER: ${item.user.username} (you)`
              p= item.cleanDate
          else 
            p MEMBER: anonymous 